<li class="pages-block_list_item js-fav-page-item">
    <h3 class="pages-block_list_item_title">{{title}}</h3>
    <img class="pages-block_list_item_img" src="{{img}}" alt="">
    <p class="pages-block_list_item_descr">{{descr}}</p>
    <a class="pages-block_list_item_link js-pages" href="{{url}}">{{url}}</a>
    <button class="pages-block_list_item_btn js-delete-page-btn">delete</button>
</li>